commands:
  01_node_install:
    command: |
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash
      . ~/.nvm/nvm.sh
      nvm install 18.19.0
      nvm use 18.19.0
    ignoreErrors: true

container_commands:
  01_npm_install:
    command: "npm ci"
  02_build_application:
    command: "npm run build"
  03_database_migration:
    command: "npm run db:push"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION: false